<div class="main">
      <div class="side-bar">
        <ul class="nav nav-pills nav-stacked">
          <li class="active mt-5 l1">
            <a href="/dashboard" class="aj">Dashboard</a>
          </li>
          <li class="active mt-5 l1">
            <a href="/product/view" class="aj">Inventory</a>
          </li>
          <li class=" active mt-5 l1">
            <a href="/billing" class="aj">Billing</a>
          </li>
          <li class="active mt-5 l1">
            <a href="/sale/get" class="aj">Sales</a>
          </li>
        </ul>
      </div>
