<div class="main">
      <div class="side-bar">
        <ul class="nav nav-pills nav-stacked">
          <li class="active mt-5">
            <a href="/dashboard" class="">Dashboard</a>
          </li>
          <li class="active mt-5">
            <a href="/product/view" class="">Inventory</a>
          </li>
          <li class="mt-5">
            <a href="/billing" class="">Billing</a>
          </li>
          <li class="mt-5">
            <a href="/sale/get" class="">Sales</a>
          </li>
        </ul>
      </div>
